.bar-container{
    Display: flex;
    Flex-direction: row;
    Align-items: center;
    Justify-content: space-evenly;
    Height: 100vh;
    Width: 100vw;
    Background-color: black;
}
.animationBars{
      Width: 30%;
      height: 50%;
      Background-color: white;
}
